body{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.quize__container{
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    gap: var(--size--x-large);
}

.quize__questions--container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--size--small);
}
    

.quize__container--questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size--large);
    padding-top: var(--size--small);
}

.answer__options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size--large);
    
    
}

.quize__progress--button{
    width: 200px;
}


