:root{
    /* size */

    --size--x-small: 0.5rem;
    --size--small: 1rem;
    --size--medium: 2rem; 
    --size--large: 3rem; 
    --size--x-large: 4rem; 

    /* font size */

    --font--x-small: 1rem;
    --font-small: 2rem; 
    --font-medium: 3rem; 
    --font-large: 4rem; 
    --font--x-large: 5rem;

    /* colors */
    --color-primary: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);;
    --secondary-primar: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    --text-color: #e7eaf6;

}